body {
    padding-top: 50px;
    padding-left: 50px;
}

ul.qcontainer {
    list-style-type: none;
    list-style: none;
    display: inline;
}

ul.qcontainer li {
    list-style: none;
    display: inline;
    float: left;
    width: 200px;
    height: 100px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #eee;
}

ul.qcontainer li input {
    width: 40px;
}



