body {
    padding-left: 50px;
}

.question-text {
    padding-left: 3px;
    font-size: 1.1em;
}

ul.qcontainer {
    list-style-type: none;
    list-style: none;
    display: inline;
}

ul.qcontainer li {
    list-style: none;
    display: inline;
    float: left;
    width: 240px;
    height: 130px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #eee;
    background: #f7f7f7;
}

ul.qcontainer li.correct {
    background: #ccffcc;
}

ul.qcontainer li.wrong {
    background: #ffcccc;
}

ul.qcontainer li input {
    width: 100px;
}

.score-card {
    font-size: 1.4em;
    font-weight: bold;
    border: solid 1px #efefef;
    padding: 6px;
}

.score-card span.correct {
    color: green;
}

.score-card span.wrong {
    color: red;
}



